# Code Runner & temporary files
tempCodeRunnerFile.py
*.tmp

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Editor & OS metadata
.vscode/
.idea/
.DS_Store
*.swp
